ModBus_Di-Do
[ {"id":"7fdff896.9773d8","type":"modbustcp-read","z":"b000e5b7.f98aa8","name":"DI1","topic":"DI1","dataType":"Coil","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","server":"af501a6d.be00b8","ieeeType":"off","ieeeBE":"true","x":90,"y":120,"wires":[["8b6bdd4.aa9002"]]},{"id":"72030f56.18543","type":"rbe","z":"b000e5b7.f98aa8","name":"Payload changed","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":120,"wires":[["e0e2211d.e2434"]]},{"id":"8b6bdd4.aa9002","type":"function","z":"b000e5b7.f98aa8","name":"Read Modbusarray to Bit","func":"if(msg.payload[0] === true)\n{\n    msg.payload = true;\n    return msg;\n}\nif(msg.payload[0] === false) \n{      \n    msg.payload = false;\n    return msg;     \n}","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["72030f56.18543"]]},{"id":"46856d1.7db4f94","type":"comment","z":"b000e5b7.f98aa8","name":"Lesen des DI1 und DI2","info":"","x":140,"y":60,"wires":[]},{"id":"9a212e86.a28fb","type":"modbustcp-write","z":"b000e5b7.f98aa8","name":"DO1","topic":"DO1","dataType":"Coil","adr":"0","server":"af501a6d.be00b8","x":1230,"y":120,"wires":[]},{"id":"2b0e4b47.7f1394","type":"modbustcp-read","z":"b000e5b7.f98aa8","name":"DI2","topic":"DI2","dataType":"Coil","adr":"1","quantity":"1","rate":"500","rateUnit":"ms","server":"af501a6d.be00b8","ieeeType":"off","ieeeBE":"true","x":90,"y":200,"wires":[["ab2f52cd.37ea4"]]},{"id":"31baaa83.9cd0c6","type":"rbe","z":"b000e5b7.f98aa8","name":"Payload changed","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":200,"wires":[["2535fd70.ab4be2"]]},{"id":"ab2f52cd.37ea4","type":"function","z":"b000e5b7.f98aa8","name":"Read Modbusarray to Bit","func":"if(msg.payload[0] === true)\n{\n    msg.payload = true;\n    return msg;\n}\nif(msg.payload[0] === false) \n{      \n    msg.payload = false;\n    return msg;     \n}","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["31baaa83.9cd0c6"]]},{"id":"8e1e3fdc.f966c","type":"modbustcp-write","z":"b000e5b7.f98aa8","name":"DO2","topic":"DO2","dataType":"Coil","adr":"1","server":"af501a6d.be00b8","x":1230,"y":200,"wires":[]},{"id":"e0e2211d.e2434","type":"ui_switch","z":"b000e5b7.f98aa8","name":"Webschalter-Modbus","label":"Schalter DO1","tooltip":"","group":"ccaef83e.9036d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":120,"wires":[["9a212e86.a28fb"]]},{"id":"2535fd70.ab4be2","type":"ui_switch","z":"b000e5b7.f98aa8","name":"Webschalter-Modbus","label":"Schalter DO2","tooltip":"","group":"ccaef83e.9036d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":200,"wires":[["8e1e3fdc.f966c"]]},{"id":"b69a4692.022408","type":"comment","z":"b000e5b7.f98aa8","name":"Schreiben des DO1 und DO2","info":"","x":1160,"y":60,"wires":[]},{"id":"1105d49b.0fb69b","type":"comment","z":"b000e5b7.f98aa8","name":"Webseite DO's schalten","info":"","x":820,"y":64,"wires":[]},{"id":"af501a6d.be00b8","type":"modbustcp-server","z":"","name":"PFC-Lokal","host":"127.0.0.1","port":"502","unit_id":"1","reconnecttimeout":"5"},{"id":"ccaef83e.9036d8","type":"ui_group","z":"","name":"Modbus","tab":"86b679e3.acf1e8","disp":true,"width":"6","collapse":false},{"id":"86b679e3.acf1e8","type":"ui_tab","z":"","name":"Wago","icon":"dashboard","disabled":false,"hidden":false}]
